{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

      <img src="{% static 'monkey.png' %}" class="float-left img-responsive ninja" alt="h4ckfu" />
      <h2 class="jumbotron-heading">Completing Classes and Collecting Certs</h2>
      <p class="lead text-muted">For the better part of the last two years I have dedicated
          myself to upgrading and modernizing my skillsets...
      </p>
    </div>
  </section>

  <div class="album py-11 bg-h4ck">
    <div class="container">
        <div class="row">
               
            {% for cert in cert.all   %}
            <div class="col-md-10">
  
            
                <div class="card mb-10 shadow-sm">
                       
                    <div class="card-body">
                                            
                        <p>
                            <img src="{{cert.image.url}}" width="400" class="img-thumbnail img-fluid img-rounded" alt="h4ckfu" />                       
                            <br /><h4>{{cert.title}}</h4>
                            <small>{{cert.summary}}</small><br />
                            
                        </p>
                        
                    </div>
                   

                </div>
            </div>
            {% endfor %}

           



        </div> <!--end row class -->

        
        {% endblock %}
